:root {
    --ngssm-regex-control-border-color: #b7bcbf;
    --ngssm-regex-control-testing-container-background: aliceblue
}

.ngssm-success {
    color: green;
}

.ngssm-error {
    color: red;
}

.ngssm-regex-control {
    flex: 1;

    .toggle-button:hover {
        cursor: pointer;
    }
}

.ngssm-regex-testing-container {
    background: var(--ngssm-regex-control-testing-container-background);
    display: flex;
    flex-direction: column;
    padding: 4px;
    padding-top: 24px;
}