name: Publish

on:
  workflow_dispatch:
    inputs:
      package_version:
        required: true
        type: string
        description: Minor.Patch, Major is set according to targetted .NET or angular version
  release:
    types: [published]

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  setup_env:
    runs-on: ubuntu-latest
    outputs:
      release_version: ${{ steps.setup_version.outputs.VERSION }}
    steps:
      - name: setup_version
        id: setup_version
        run: |
          if [[ "${{ inputs.package_version }}" != "" ]] 
          then 
            echo "VERSION=${{ inputs.package_version }}" 
          else 
            echo "VERSION=${{ github.event.release.tag_name }}"
          fi >> $GITHUB_OUTPUT
      
  call_shared_build:
    needs: setup_env
    uses: ./.github/workflows/shared_build.yml
    with:
      angular_package_version: ${{ needs.setup_env.outputs.release_version }}

  publish_angular:
    name: Publish angular package
    needs: call_shared_build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: ngssm-regex-tools
          path: ./angular-packages
      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'
      # Ensure npm 11.5.1 or later is installed
      - name: Update npm
        run: npm install -g npm@latest
      - run: |
          cd ./angular-packages
          npm publish *.tgz
